$container-padding-x: 1rem !default;
$dark: #202020 !default;
$job-image-size-xs: 3rem !default;
$job-image-size-md: 5rem !default;
$primary-dark: #7f5af0 !default;
$primary-light: #6c63ff !default;
$white: #ffffff !default;

$bg-color-dark: $dark !default;
$bg-color-light: $white !default;
$text-color-dark: $white !default;
$text-color-light: $dark !default;
$theme-checkbox-ball-color: $primary-light !default;
